body {
  background-image:  
    linear-gradient(to bottom, rgba(124, 40, 145, 0.6), rgba(255, 255, 255, .4)),
    url('https://assets.wallpapersin4k.org/uploads/2017/04/Price-Is-Right-Wallpaper-8.jpg');
    background-size: cover;
}
.container {
  text-align: center;
  background-color: red;
  background: linear-gradient(red, purple);
  opacity: .85;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}
.hidden {
  display: none;
}
.card {
  width: 60%;
  min-width: 50px;
  text-align: center;
  margin-bottom: 5%;
}
.card h5 {
  margin-top: .5em;
  margin-bottom: 1em;
}
.card p {
  text-align: justify;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
.categories {
 text-align: left;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 25px;
  margin: 0 8px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 25px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
}
.heart:before {
  top: -12px;
  left: 0;
}
.heart:after {
  left: 12px;
  top: 0;
}
.heart .dead {
  background-color: gray;
}
.heart:after .dead {
  background-color: gray;
}
.load-screen {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 244, 244);
}
.btn-primary {
  margin-top: 5%;
}
#loading {
  position: absolute;
  top: 50%;
  right: 50%;
  font-weight:bold;
  font-size: large;
  transform: translate(-50% -50%);
}
#header {
  margin:auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
  font-family: 'Lobster', cursive;
  text-align: center;
  background-color: yellow;
  opacity: .9;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  cursor:pointer;
}
